#container_candlestick {
    height: 400px;
    min-width: 310px;
}
#container_candlestick2 {
    height: 400px;
    min-width: 310px;
}
#container_candlestick3 {
    height: 400px;
    min-width: 310px;
}
#container_candlestick4 {
    height: 400px;
    min-width: 310px;
}
#container_candlestick5 {
    height: 400px;
    min-width: 310px;
}